body{
    background: rgba(202, 208, 214, 0.76);
}


.box{
    padding: 40px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.icon {
    width: 3rem;
    height: 3rem;
}