* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(92, 111, 151);
    color: white;
}
.navbar-brand {
    font-size: 1.8rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand .logo {
    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: 0.5rem;
}

.wrapperMid .navbar-nav li {
    display: block;
    text-decoration: none;
    color: white;

}

.wrapperMid .navbar-nav li .nav-link {
    padding: 1rem 3rem;
}

.wrapperRight .navbar-nav li .nav-link {
    padding: 1rem 0.5rem;
}

.nav-link:hover {
    background-color: rgba(48, 74, 131, 0.651);
}

.wrapperRight .navbar-nav li .nav-link:hover {
    background-color:rgb(224, 70, 70);
    color: mintcream;
}

.nav-link {
    font-size: 1.1rem;
}
@media (max-width: 992px) {
    .wrapperMid .navbar-nav li .nav-link {
        padding: 1rem 2rem;
    }
    .wrapperRight .navbar-nav li .nav-link {
        padding: 1rem 2rem;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
